{% load static %}
<section class="menu-area">
    <div class="container-xl">
        <div class="row">
            <div class="col">
                <nav class="container-nav">
                    <a href="/"><img class="logo" src="{% static 'images/logo.PNG' %}" alt="LOGO"></a>
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <!-- <div class="botoes"> -->
                                <a href="/"><button class="sobre"> Sobre Nós </button></a>
                                
                                <div class="user-box menu-icon-box">
                                    <a href="/cursos"><button class="perfil"> Cursos </button></a>
                                    <div class="dropdown user-dropdown corner-triangle top-right">
                                        <ul class="user-dropdown-menu">
                                            {% for category in categories %}
                                                <!-- <li class="user-dropdown-menu-item"> -->
                                                <li>
                                                        <a href="{% url 'courses:course-by-category' category.slug %}">
                                                        <!-- <span class="icon"><i class="fa fa-caret-right"></i></span> -->
                                                        <span>{{ category.title }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
 
                                {% if user.is_authenticated %}
                                    <div class="user-box menu-icon-box">
                                        
                                        <a href="{% url 'accounts:my-profile' %}"><button class="perfil"> Perfil </button></a>
                                        
                                        <div class="dropdown user-dropdown corner-triangle top-right">
                                            <ul class="user-dropdown-menu">

                                                <li>
                                                <!-- <li class="dropdown-user-info"> -->
                                                        <a>
                                                        <div class="clearfix">
                                                            <!-- <div class="user-image float-left">
                                                                <img src="{% static 'images/avatar.png' %}" alt="" class="img-fluid">
                                                            </div> -->
                                                            <div class="user-details">
                                                                <div class="user-name">
                                                                    <span class="hi">Olá, {{ request.user.first_name }}.</span> 
                                                                    <span class="welcome">Bem-vindo de volta</span>
                                                                </div>
                                                                <div class="user-email">
                                                                    <span class="email">{{ request.user.email }}</span>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                <!-- <li class="dropdown-user-info"> -->
                                                    <a href="{% url 'accounts:enrolled-courses' %}">
                                                        <!-- <i class="far fa-gem"></i> -->
                                                        Cursos matriculados
                                                    </a>
                                                </li>
                                                <!-- <li class="user-dropdown-menu-item">
                                                    <a href="">
                                                        <i class="far fa-heart"></i>
                                                        Lista de desejos
                                                    </a>
                                                </li> -->
                                                <li>
                                                <!-- <li class="dropdown-user-info"> -->
                                                    <a href="{% url 'accounts:my-profile' %}">
                                                        <!-- <i class="fas fa-user"></i> -->
                                                        Editar perfil
                                                    </a>
                                                </li>
                                                <!-- <li class="dropdown-user-logout user-dropdown-menu-item">
                                                    <a href="{% url 'accounts:logout' %}">Sair</a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                            
                                <a href="{% url 'accounts:logout' %}"><button class="sair"> Sair </button></a>
                                {% else %}
                                <a href="{% url 'accounts:login' %}"><button class="login"> Login </button></a>
                                <a href="{% url 'accounts:register' %}"><button class="cadastro"> Cadastro </button></a>
                                {% endif %}


                            <!-- </div> -->
                    </nav>
                </nav>
            </div>
        </div>
    </div>
</section>


