.container-nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}


.logo {
    width: 200px;
    height: 50px;
}

.botoes {
    
}

.container-main {
    display: flex;
    justify-content: center;
}

.secao {
    border: 1px black solid;
    width: 600px;
    height: 200px;
    margin: 20px;
}

.container-footer {
    margin: 40px;
    display: flex;
    justify-content: center;
    border-top: 1px black solid;
}

.footer {
    text-align: center;
    width: 250px;
    margin: 20px;
}