{% extends 'layouts/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

    <section class="home-banner-area" style="background-image: url({% static 'images/learning.jpg' %})">
        <div class="container-lg">
            <div class="row">
                <div class="col">
                    <div class="home-banner-wrap">
                        <h2>Melhor Lugar pra Aprender!</h2>
                        <p>Comece agora mesmo, escolha seu curso</p>
                        <!-- <form class="" action="{% url 'udemy:search' %}" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q"
                                       placeholder="O que você quer aprender?">
                                <div class="input-group-append">
                                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-fact-area">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-4 d-flex">
                    <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                        <i class="fas fa-bullseye float-left"></i>
                        <div class="text-box">
                            <h4>{{ courses.count }} cursos online</h4>
                            <p>Temos vários níveis disponíveis</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex">
                    <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                        <i class="fa fa-check float-left"></i>
                        <div class="text-box">
                            <h4>Professores capacitados</h4>
                            <p>Escolha o curso certo para você</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex">
                    <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                        <i class="fa fa-clock float-left"></i>
                        <div class="text-box">
                            <h4>Acesso vitalício</h4>
                            <p>Monte seu cronograma</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  -->

{% endblock %}